################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/QServiceDog/QServiceDog/bin
/src/QServiceDog/QServiceDog/obj
/src/QServiceDog/.vs
/src/QServiceDog/packages
/src/QServiceDog/QDBDogUI/bin/Debug
/src/QServiceDog/QDBDogUI/obj
/src/QServiceDog/QDBDog/bin/Debug/logs
/src/QServiceDog/QDBDog/bin/Debug
/src/QServiceDog/QDBDog/obj/Debug/Costura
/src/QServiceDog/QDBDog/bin/Release/config
/src/QServiceDog/QDBDog/bin/Release/sql
/src/QServiceDog/QDBDog/bin/Release
/src/QServiceDog/QDBDog/obj/Release/Costura
/src/QServiceDog/QDBDogUI/bin/Release
/src/QServiceDog/QDBDogUI/bin/QDBDog_V1.0.rar
/src/QServiceDog/QServiceAgent/bin
/src/QServiceDog/QServiceAgent/obj
