################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/QServiceDog/QServiceDog/bin
/src/QServiceDog/QServiceDog/obj
/src/QServiceDog/.vs
/src/QServiceDog/packages
/src/QServiceDog/QDBDogUI/bin/Debug
/src/QServiceDog/QDBDogUI/obj
/src/QServiceDog/QDBDog/bin/Debug/logs
/src/QServiceDog/QDBDog/bin/Debug
