<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.5.5" targetFramework="net462" />
  <package id="QCommon.IF.Standard" version="1.0.2" targetFramework="net462" />
  <package id="QCommon.Quartz" version="1.0.8" targetFramework="net462" />
  <package id="QCommon.Service" version="1.0.0.4" targetFramework="net462" />
  <package id="QCommon.Standard" version="1.0.53" targetFramework="net462" />
  <package id="Quartz" version="3.0.7" targetFramework="net462" />
  <package id="Quartz.Jobs" version="3.0.7" targetFramework="net462" />
  <package id="Quartz.Plugins" version="3.0.7" targetFramework="net462" />
  <package id="SharpZipLib.NETStandard" version="1.0.7" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net462" />
  <package id="Topshelf" version="4.0.3" targetFramework="net462" />
  <package id="Unity" version="5.10.3" targetFramework="net462" />
</packages>