<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="3.5.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="NLog" version="4.0.1" targetFramework="net452" />
  <package id="ProgressODoom" version="1.0.6117.26918" targetFramework="net452" />
  <package id="QCommon" version="1.0.0.17" targetFramework="net452" />
  <package id="QCommon.Service" version="1.0.0.3" targetFramework="net452" />
  <package id="QCommon.UI" version="1.0.6.36782" targetFramework="net452" />
  <package id="QCommon.UI.Resource" version="1.0.3.19660" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="sqlSugar" version="5.0.0.19" targetFramework="net452" />
  <package id="Topshelf" version="4.0.3" targetFramework="net452" />
</packages>